<h1>Convocation à l'Assemblée Générale</h1>
<p>Madame, Monsieur,</p>
<p>Vous êtes convié(e) à l'Assemblée Générale annuelle de notre association.</p>
<p>Date: {{ date|default('2025-12-01') }}</p>
<p>Lieu: {{ lieu|default('Salle des fêtes') }}</p>
<p>Cordialement,</p>
<p>L'équipe</p>
